# IDEA
.idea/
out/
output/
**/build/

# Cloud Cover
COVER_LOGGING_PATH_IS_UNDEFINED

**/gradle_build/
*.iml
**/*.iml
*.ipr
*.iws

# VS Code
.vscode

# OSX
.DS_Store
.AppleDouble
.LSOverride

## Java
# either the 3rd party diff or IDEA:
*.java.orig

# Package Files
**/build/libs/*.jar
*.war
*.ear

#Gradle
.gradle
*/.gradle

# Maven
log/
target/

# Inclusions
!lib/**

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**

# Logging
*.log
*.log.gz
*.log-*.gz
logs/

# metadata
/.metadata/